@import "bootstrap/_functions";
@import "bootstrap/_variables";
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;1,300;1,500;1,600);

$theme-colors: (
  "primary": #fa7900,
  "secondary": #fabc00,
  "danger": #ff4136
  );

$link-color: #fa7900;
$font-family-base: "Montserrat", Roboto, "Helvetica Neue", Arial, sans-serif;
$headings-font-weight: 700;

.cursor-pointer {
  cursor: pointer;
}

// Regelhulpify-specific classes

.rh-box {
  position: relative
}

.rh-topright {
  position: absolute;
  right: 1rem;
  top: 0.5rem;  
}

#tool_img {
    border-radius: 1em;
}

// Login dropdown

button:focus {
  outline: 0;
}

.navbar .dropdown-menu .form-control {
  width: 200px;
}

// Django styles

.errorlist { 
  padding-inline-start: 0;
  li {
    list-style-type: none;
    font-family: $font-family-base;
    color: $danger;
    font-size: 0.7rem;
  }
}

@import "bootstrap/bootstrap";