@import "bootstrap/_functions";
@import "bootstrap/_variables";
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;1,300;1,500;1,600);

$theme-colors: (
  "primary": #fa7900,
  "secondary": #fabc00,
  "danger": #ff4136
  );

$font-family-base: "Montserrat", Roboto, "Helvetica Neue", Arial, sans-serif;
$headings-font-weight: 700;

@import "bootstrap/bootstrap";