{% extends 'regelhulpify/base.html' %}
{% load static %}

{% block content %}
    <p class='mt-4 mb-4 text-muted'>> {{tool.name}} > {{question.text}} > {{answer.text}} </p>
    <h1 class="">Edit answer</h1>
    <div>
        <form action="" method="post">
            {% include 'regelhulpify/form_snippet.html' %}
            <input type="submit" value="Save changes" class="btn btn-primary">
            
          </form>
          <a href="{% url 'builder_question' tool.id question.id %}" class="btn btn-light mt-5">&larr; Back to question</a>
          <input type="button" class="btn btn-danger mt-5" id="answer_delete" value="Delete answer">
    </div>

    <script src="{% static 'js/builder_answer.js' %}"></script>

    
{% endblock %}
