{% extends 'regelhulpify/base.html' %}
{% load static %}

{% block content %}
    <p class='mt-4 mb-4 text-muted'>> {{tool.name}} > {{question.text}} > {{answer.text}} </p>
    <h1 class="">Antwoord aanpassen</h1>
    <div>
        <form action="" method="post">
            {% csrf_token %}
            <table class="mt-3 mb-3">
            {{ form.as_table }}
            </table>
            <input type="submit" value="Veranderingen opslaan" class="btn btn-primary">
            
          </form>
          <a href="{% url 'builder_question' tool.id question.id %}" class="btn btn-light mt-5">&larr; Terug naar vraag</a>
          <input type="button" class="btn btn-danger mt-5" id="answer_delete" value="Antwoord verwijderen">
    </div>

    <script src="{% static 'js/builder_answer.js' %}"></script>

    
{% endblock %}
