{% extends 'regelhulpify/base.html' %}

{% block content %}
    <p class='mt-4 mb-4'>> {{tool.name}} > {{question.text}}</p>
    <h1 class="">Vraag aanpassen</h1>
    <div class="mb-5">
        <form action="" method="post">
            {% csrf_token %}
            <table class="mt-3 mb-3">
            {{ form.as_table }}
            </table>
            <input type="submit" value="Veranderingen opslaan" class="btn btn-primary">
        </form>
    </div>
        
        <div class="bg-light rounded rh-answerbox p-4">
            <h4 >Antwoorden</h4>
            <ul>
                {% for answer in question.answer_set.all %}
                <li><a href="{% url 'builder_answer' answer.id %}"> {{answer.text}} <span class="text-muted">> {{ answer.nextquestion.text }}</span></a></li>
                {% endfor %}
                <li><a href="{% url 'newanswer' tool.id question.id %}" class="">Nieuw antwoord toevoegen...</a></li>
            </ul>
        </div>
    
    <a href="{% url 'question_delete' question.id %}" class="btn btn-danger mt-5">Vraag verwijderen</a>
    <a href="{% url 'builder_tool' tool.id %}" class="btn btn-light mt-5">Terug naar regelhulp</a>
    
{% endblock %}
