{% extends 'regelhulpify/base.html' %}
{% load static %}

{% block content %}
    <p class='mt-4 mb-4 text-muted'>> {{tool.name}} > {{question.text}}</p>
    <!-- <h1 class="">{% if question.result == False %}Vraag{% else %}Uitkomst{% endif %} aanpassen</h1> -->
    <h1 class="">Edit {% if question.result == False %}question{% else %}result{% endif %}</h1>
    <div class="mb-5">
        <form action="" method="post">
            {% csrf_token %}
            <table class="mt-3 mb-3">
            {{ form.as_table }}
            </table>
            <input type="submit" value="Save changes" class="btn btn-primary">
        </form>
    </div>
        
    {% if question.result == False %}
        <div class="bg-light rounded rh-answerbox p-4">
            <h4>Answers</h4>
            <ul>
                {% for answer in question.answer_set.all %}
                <li><a href="{% url 'builder_answer' tool.id question.id answer.id %}"> {{answer.text}} <span class="text-muted">> {{ answer.nextquestion.text }}</span></a></li>
                {% endfor %}
                <li><a href="{% url 'newanswer' tool.id question.id %}" class="">Add new answer...</a></li>
            </ul>
        </div>
    
    <input type="button" id='question_delete' class="btn btn-danger mt-5" value='Delete question'>
    {% else %}
    <input type="button" id='result_delete' class="btn btn-danger mt-5" value='Delete result'>
    {% endif %}
    
    <a href="{% url 'builder_tool' tool.id %}" class="btn btn-light mt-5">Back to tool</a>

    <script src="{% static 'js/builder_question.js' %}"></script>
    
{% endblock %}
