{% extends 'regelhulpify/base.html' %}

{% block content %}
<div>
    <h1>
        Alle regelhulpen
    </h1>
    <div id="tools_list">
        <ul>
        <!-- Javascript filled -->
        </ul>
    </div>
    <p id="test"></p>
</div>

<script>
    function createToolsBtn(element){
        // Create post
        const tool = document.createElement('div');
                tool.className = 'tool_link rounded my-3 p-3 bg-light';
                tool.id = element.id
                tool.innerHTML = `<a href="/${element.pk}" class="btn btn-primary mt-2 mb-2">
                                    ${element.fields.name}
                                    </a>
                                    <div class="">${element.fields.desc}</div>`

                document.querySelector('#tools_list').append(tool)
    }

    function getTools() {
        // Fetch them tools
        fetch(`/api/get_tools`)
        .then(response => response.json())
        .then(result => {
            const tools = JSON.parse(result);
            // Reset
            document.querySelector('#tools_list').innerHTML = "";
            tools.forEach(element => {
                createToolsBtn(element)
            });   
        });
    }

    getTools();
</script>
{% endblock %}