{% extends 'regelhulpify/base.html' %}

{% block content %}
    <h1>New Regelhulp</h1>
    <form action="{% url 'newtool' %}" method="post">
        {% csrf_token %}
        <table class="mt-3 mb-3">
          {% for field in form %}
          {% if field.name != "owner" %}
          <tr>
              <td class="align-top">{{ field.label_tag }}</td>
              <td>
                  {{ field }}
              </td>
          </tr>
          {% if field.help_text or field.errors %}
          <tr class="mb-2">
              <td></td>
              <td class="small">{{ field.errors }}<span class="text-muted">{{ field.help_text }}</span></td>
          </tr>
          {% endif %}
          {% else %}
            {{ field }}
          {% endif %}
          {% endfor %}
        </table>
        <input type="submit" value="Create new regelhulp" class="btn btn-success">
      </form>
{% endblock %}


